# ========================
# Dependencies
# ========================
node_modules/

# ========================
# Environment Variables
# ========================
.env
.env.*
!.env.example

# ========================
# Logs
# ========================
logs/
*.log
npm-debug.log*

# ========================
# Lock files
# ========================
package-lock.json

# ========================
# OS Files
# ========================
.DS_Store
Thumbs.db

# ========================
# Testing / Coverage
# ========================
coverage/